/* Typography */
$fontTitle: 'Abril Fatface', cursive;
$fontBody: 'Arvo', serif;

$bodyFontSize: 16px;
$smallFontSize: 12px;
$titleFontSize: 25px;

$fontBold: 700;

/* Header */
$headerHeigth: 50px;
$backgroundColorGradient: linear-gradient(217deg, rgba(54, 4, 61, 0.8), rgba(251, 139, 255, 0) 70.71%);
/* Footer */
$footerHeigth: 50px;
$backgroundColor: rgba(54, 4, 61, 0.308);
$font-color: rgba(2, 2, 2, 0.568);

/* Landing*/
$buttonBackgroundColor: rgb(238, 103, 103);
$buttonFontColor: rgb(255, 255, 255);
$rectangleBackgroundColor: rgba(238, 103, 103, 0.541);
