/* Typography */
$fontTitle: 'Abril Fatface', cursive;
$fontBody: 'Arvo', serif;

$bodyFontSize: 16px;
$smallFontSize: 12px;
$titleFontSize: 25px;

$fontBold: 700;

/* Header */
$headerHeigth: 50px;
$backgroundColorGradient: linear-gradient(217deg, rgb(35, 4, 68), rgba(35, 4, 68, 0) 70.71%);
/* Footer */
$footerHeigth: 50px;
$font-color: rgba(2, 2, 2, 0.568);

/* Landing*/
$buttonBackgroundColor: rgb(237, 130, 64);
$buttonBackgroundHoever: rgba(237, 130, 64, 0.438);

$buttonFontColor: rgb(210, 235, 233);
$rectangleBackgroundColor: rgb(144, 48, 61);
