.footer {
  height: 50px;
  background: rgba(54, 4, 61, 0.308);
  color: rgba(2, 2, 2, 0.568);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;

  &--information {
    margin: 0;
  }
}
