@import 'variables.scss';

.footer {
  height: 50px;
  background: $backgroundColor;
  color: $font-color;
  font-size: $smallFontSize;
  font-weight: $fontBold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;

  &--information {
    margin: 0;
  }
}
