@import 'variables.scss';

.header {
  background: $backgroundColorGradient;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 1024px) {
    justify-content: start;
  }
  &--logo {
    width: 300px;
    @media (min-width: 768px) {
      width: 400px;
    }
  }
}
