@import 'variables.scss';

.main {
  padding-bottom: $footerHeigth;
  padding-top: $headerHeigth;
  .columns {
    padding: 30px;
  }
}

.main--section {
  padding: 20px 0;
  &__title {
    font-family: $fontTitle;
    font-size: $titleFontSize;
    text-align: start;

    @media (min-width: $breakpoints-lg) {
      font-size: 35px;
    }
  }
  &__info {
    font-family: $fontBody;
    font-size: $bodyFontSize;
    padding: 0 5px;
    @media (min-width: $breakpoints-md) {
      padding: 20px 0;
    }
  }
}

.date--section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: $breakpoints-md) {
    flex-direction: row;
  }
}

.btn-primary {
  background-color: $buttonBackgroundColor;
  border: $buttonBackgroundColor;
  margin: 20px 0 15px 0;
  &:hover {
    background-color: $buttonBackgroundHoever;
  }
  @media (min-width: $breakpoints-md) {
    margin: 20px 0 15px 0;
  }
  &--link {
    color: $buttonFontColor;
    font-weight: $fontBold;
    text-decoration: none;
  }
}

.rectangle {
  height: 550px;
  width: 250px;
  transform: rotate(10deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0.9;
  background-color: $rectangleBackgroundColor;

  @media (min-width: $breakpoints-md) {
    height: 300px;
    width: 500px;
    transform: rotate(6deg);
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: $rectangleBackgroundColor;
}
