@import 'variables.scss';

.form {
  padding-top: $headerHeigth;
  &--label {
    font-weight: bold;
  }
}

.section--map__info {
  text-align: center;
  font-size: 14px;
}

.event-results {
  padding-bottom: $footerHeigth;
}
