@import 'variables.scss';

.form {
  padding-top: $headerHeigth;
  &--label {
    font-weight: $fontBold;
  }
}

.section--map__info {
  text-align: center;
  font-size: $bodyFontSize;
  padding: 10px;
}

.event-results {
  padding: 0px 0px $footerHeigth 0px;
}

.aside--card {
  text-align: center;
}
